
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #444444;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #272828;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

.hint{
  display: none;
}

.typeBad {
  color: #dc322f;
  font-weight: bold;
  font-size: 23px;
}

.typeMissed, .typePass {
  color: #268bd2;
  font-weight: bold;
  font-size: 23px;
}

.typeGood {
  color: #2ed85a;
  font-weight: bold;
}

.loc.card, .loc.card #typeans span {
  background-color: #002b36 !important;
}

.night.card, .night.card #typeans span {
  background-color: #272828 !important;
}
